<h1>Candies#show</h1>
<p>Find me in app/views/candies/show.html.erb</p>


<ul>
  <% %i[name price].each do |attr| %>
    <li>
      <%= Candy.human_attribute_name attr %>
      <%= @candy.public_send attr %>
    </li>
  <% end %>
</ul>

<% %i[large small].each do |key| %>
  <% if @candy.wrap_paper(key).present? %>
    <%= image_tag @candy.wrap_paper(key).url %>
  <% end %>
<% end %>
