<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>

<%= link_to "aoi", aoi_jobs_path, method: :post, remote: true %>
<%= link_to "itadori", itadori_jobs_path, method: :post, remote: true %>
<%= link_to "ume", ume_jobs_path, method: :post, remote: true %>
