<h1>Authors#index</h1>
<p>Find me in app/views/authors/index.html.erb</p>

<% @authors.each do |author| %>
  <%= tag.ul do %>
    <%= tag.li do %>
      <%= link_to author.id, edit_author_path(author) %>
      <%= author.name %>
    <% end %>
  <% end %>
<% end %>
